# Semester Project - Nextbike
## Task 1 - Exploration and Description

In [1]:
# import relevant libaries for data exploration 
from vincenty import vincenty
import numpy as np 
import pandas as pd 
import datetime
from datetime import timedelta

In [2]:
# reading the csv
df = pd.read_csv("../data/raw/dortmund.csv", index_col=0)
df.head(5)

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,True,0,2019-01-20 00:00:00,52073,first,7314560,1,51.506613,4,FH-Dortmund Sonnenstraße,7374,7.455587,False
1,True,0,2019-01-20 23:59:00,52073,last,7314560,1,51.506613,4,FH-Dortmund Sonnenstraße,7374,7.455587,False
2,True,0,2019-01-20 00:00:00,52331,first,113573,2,51.492690,4,Universität/S-Bahnhof,7362,7.417633,False
3,True,0,2019-01-20 23:59:00,52331,last,113573,4,51.492690,4,Universität/S-Bahnhof,7362,7.417633,False
4,True,0,2019-01-20 00:00:00,31346,first,113543,3,51.523351,4,Brackel Kirche,7337,7.546867,False

### What does the columns represent? 

The prefix "p" stands for the <i> positon </i> and the prefix "b" describes the features for the used <i> bike</i> . 

###### Meanings of the columns

| Column      | Description          |
|-------------|----------------------|
|<i> p_spot </i>      |True, if it is an official station                   |
|<i>p_place_type </i>|                      |
|<i>datetime </i></i>    |Datetime of the start or end of a trip |
|<i>b_number </i>    |Bike ID                   |
|<i>trip   </i>      |Values = ["first, last, start, end] <br> defines if a trip starts or ends|
|<i>p_uid </i>       |ID of the bike station / position                      |
|<i>p_bikes </i>     |Number of available bikes at the postion                      |
|<i>p_lat   </i>     |Latitude coordinate of the position                      |
|<i>b_bike_type</i>  |Type of the used bike                      |
|<i>p_name  </i>     |Street or station name of the current position                      |
|<i>p_number  </i>   |ID of the postion / bike station                      |
|<i>p_lng </i>       |Longitude coordinate of the position                      |
|<i>p_bike   </i>    |                      |

### Analyse the trip column

In [3]:
df["trip"].unique()

array(['first', 'last', 'start', 'end'], dtype=object)

There are four different values in the trip column [first, last, start, end]. 
At least two values are required to define whether the data set belongs to the starting point or the end of the trip. This means that one trip is represented in two rows in the dataframe. One of the rows contains the values at the startinging point (i.e. datetime, start position) and the other row contains the values at the ending point of the trip. 

###### Why are there four values in the trip column? 

Let's have a deeper look in the dataframe and the trip column.

In [4]:
# there are much more datasets which have the values "start" and "end" in the trip column
df["trip"].value_counts()

start    249536
end      242878
last      88710
first     88528
Name: trip, dtype: int64

In [5]:
df[(df["trip"] == "first") | (df["trip"] =="last")].head(50)

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,True,0,2019-01-20 00:00:00,52073,first,7314560,1,51.506613,4,FH-Dortmund Sonnenstraße,7374,7.455587,False
1,True,0,2019-01-20 23:59:00,52073,last,7314560,1,51.506613,4,FH-Dortmund Sonnenstraße,7374,7.455587,False
2,True,0,2019-01-20 00:00:00,52331,first,113573,2,51.492690,4,Universität/S-Bahnhof,7362,7.417633,False
3,True,0,2019-01-20 23:59:00,52331,last,113573,4,51.492690,4,Universität/S-Bahnhof,7362,7.417633,False
4,True,0,2019-01-20 00:00:00,31346,first,113543,3,51.523351,4,Brackel Kirche,7337,7.546867,False
5,True,0,2019-01-20 23:59:00,31346,last,113543,4,51.523351,4,Brackel Kirche,7337,7.546867,False
6,True,0,2019-01-20 00:00:00,50641,first,113561,5,51.506312,4,Hainallee / Südbad,7351,7.470531,False
9,True,0,2019-01-20 23:59:00,50641,last,6260019,1,51.493966,4,TU Dortmund Emil-Figge-Straße 50,7367,7.418008,False
10,True,0,2019-01-20 00:00:00,53801,first,50383,3,51.513777,14,Westentor,7319,7.455849,False
11,True,0,2019-01-20 03:39:00,53801,last,50383,3,51.513777,14,Westentor,7319,7.455849,False
12,True,0,2019-01-20 00:45:00,50425,first,50370,5,51.517155,5,Hauptbahnhof/Bahnhofsvorplatz,7306,7.459931,False
15,True,0,2019-01-20 02:52:00,50425,last,50382,3,51.513069,5,Unionstr.,7318,7.448886,False
16,True,0,2019-01-20 00:00:00,90697,first,113544,5,51.520013,4,Heiligegartenstr.,7338,7.464502,False
17,True,0,2019-01-20 18:12:00,90697,last,113544,5,51.520013,4,Heiligegartenstr.,7338,7.464502,False
18,True,0,2019-01-20 00:00:00,53006,first,113567,4,51.509557,5,Ritterhausstr.,7358,7.446949,False
25,True,0,2019-01-20 23:59:00,53006,last,50375,3,51.514029,5,Schwanenwall,7311,7.472570,False
26,True,0,2019-01-20 22:10:00,90345,first,50382,2,51.513069,4,Unionstr.,7318,7.448886,False
29,True,0,2019-01-20 23:59:00,90345,last,50366,2,51.512909,4,Wittener Str. / Wilhelmplatz,7302,7.423314,False
30,True,0,2019-01-20 00:00:00,51130,first,113551,5,51.523951,5,Borsigplatz / Oesterholzstr.,7341,7.481904,False
31,True,0,2019-01-20 23:59:00,51130,last,113551,4,51.523951,5,Borsigplatz / Oesterholzstr.,7341,7.481904,False
32,True,0,2019-01-20 00:00:00,53705,first,113562,5,51.488371,14,Hörde Bahnhof,7352,7.499097,False
33,True,0,2019-01-20 23:59:00,53705,last,113562,5,51.488371,14,Hörde Bahnhof,7352,7.499097,False
34,True,0,2019-01-20 00:00:00,53393,first,113567,4,51.509557,14,Ritterhausstr.,7358,7.446949,False
37,True,0,2019-01-20 23:59:00,53393,last,50379,3,51.510311,14,Hiltropwall,7315,7.462237,False
38,True,0,2019-01-20 00:00:00,50676,first,113555,5,51.491234,14,Phoenix See / Hörder Burg,7346,7.503458,False
39,True,0,2019-01-20 23:59:00,50676,last,113555,5,51.491234,14,Phoenix See / Hörder Burg,7346,7.503458,False
40,True,0,2019-01-20 00:06:00,53407,first,113543,4,51.523351,14,Brackel Kirche,7337,7.546867,False
41,True,0,2019-01-20 23:59:00,53407,last,113543,4,51.523351,14,Brackel Kirche,7337,7.546867,False
42,True,0,2019-01-20 00:00:00,52031,first,50376,3,51.512609,4,Hansastr.,7312,7.463483,False
43,True,0,2019-01-20 23:59:00,52031,last,50376,3,51.512609,4,Hansastr.,7312,7.463483,False
44,True,0,2019-01-20 00:00:00,53950,first,113575,1,51.497984,14,Germania/S-Bahnhof,7363,7.361505,False
45,True,0,2019-01-20 23:59:00,53950,last,113575,1,51.497984,14,Germania/S-Bahnhof,7363,7.361505,False
46,True,0,2019-01-20 00:00:00,52482,first,50370,5,51.517155,5,Hauptbahnhof/Bahnhofsvorplatz,7306,7.459931,False
51,True,0,2019-01-20 23:59:00,52482,last,50370,5,51.517155,5,Hauptbahnhof/Bahnhofsvorplatz,7306,7.459931,False
52,True,0,2019-01-20 00:35:00,53615,first,50386,1,51.508994,14,Städtische Kliniken,7322,7.457513,False
57,True,0,2019-01-20 23:59:00,53615,last,113573,4,51.492690,14,Universität/S-Bahnhof,7362,7.417633,False
58,True,0,2019-01-20 00:00:00,5755,first,113570,5,51.508983,4,Dortmund West/S-Bahnhof,7359,7.440512,False
59,True,0,2019-01-20 23:59:00,5755,last,113570,5,51.508983,4,Dortmund West/S-Bahnhof,7359,7.440512,False
60,True,0,2019-01-20 00:17:00,50563,first,50370,5,51.517155,5,Hauptbahnhof/Bahnhofsvorplatz,7306,7.459931,False
63,True,0,2019-01-20 23:59:00,50563,last,50370,5,51.517155,5,Hauptbahnhof/Bahnhofsvorplatz,7306,7.459931,False
64,True,0,2019-01-20 03:34:00,51282,first,195049,5,51.512836,4,Am Kaiserbrunnen,7342,7.482258,False
67,True,0,2019-01-20 23:59:00,51282,last,50372,2,51.516831,4,Kuckelke,7308,7.469189,False
68,True,0,2019-01-20 00:00:00,53940,first,50385,1,51.507457,14,Möllerbrücke,7321,7.451364,False
81,True,0,2019-01-20 23:59:00,53940,last,50385,2,51.507457,14,Möllerbrücke,7321,7.451364,False
82,True,0,2019-01-20 00:00:00,50539,first,50372,1,51.516831,5,Kuckelke,7308,7.469189,False
83,True,0,2019-01-20 23:59:00,50539,last,50372,2,51.516831,5,Kuckelke,7308,7.469189,False
84,True,0,2019-01-20 00:00:00,50061,first,113571,3,51.503293,4,Vinckeplatz,7360,7.455822,False
87,True,0,2019-01-20 23:59:00,50061,last,50368,1,51.519332,4,Cinestar,7304,7.460124,False
88,True,0,2019-01-20 00:00:00,53187,first,50392,3,51.498845,14,Karl-Liebknecht-Str.,7328,7.489751,False
89,True,0,2019-01-20 20:33:00,53187,last,50392,3,51.498845,14,Karl-Liebknecht-Str.,7328,7.489751,False

In this filtered dataframe above it gets clear that the examples with the values **first** and **last** in the trip column don't make much sense. Most of the trips in this dataframe have an unlikely long trip duration. The start time of a trip is almost always at 0 AM and the end time of a trip is at 23:59 PM. 
Furthermore the start and the end positions of one trip are the same. 

It could be measurement errors or other data recording errors. <br> 
These datasets can be disregarded for the next steps, because they aren't suitable for further analyses.

In [6]:
# focus on datasets whit values "start" and "end" in the trip column
# store the starting and ending events of a trip in two different dataframes
# p_number != 0 --> just focus on the trips to an official bike station 
df_start = df[(df["trip"] == "start") & (df["p_number"] != 0)]
df_end = df[(df["trip"] == "end") & (df["p_number"] != 0)]

In [7]:
df_start.reset_index(inplace=True)
df_end.reset_index(inplace=True)

In [8]:
# rename the column names to distinguish the columns after a merge of the dateframes
df_start.rename(columns={"index":"index_start","datetime":"datetime_start", "p_lat":"latitude_start","p_lng":"longitude_start","p_name":"p_name_start","b_number":"b_number_start"},inplace=True)
df_end.rename(columns={"index":"index_end","datetime":"datetime_end", "p_lat":"latitude_end","p_lng":"longitude_end","p_name":"p_name_end","b_number":"b_number_end"},inplace=True)

C:\Users\Emre\Anaconda3\envs\PDS20\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
# drop the columns, which aren't necessary for the final dateframe
df_start.drop(['p_spot', 'p_place_type',  'trip',
       'p_uid', 'p_bikes', 'b_bike_type',
       'p_number', 'p_bike'],inplace=True,axis=1)

df_end.drop(['p_spot', 'p_place_type', 'trip',
       'p_uid', 'p_bikes', 'b_bike_type',
       'p_number', 'p_bike'],inplace=True,axis=1)

C:\Users\Emre\Anaconda3\envs\PDS20\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
# modify the index_end to merge the dataframes by index_start and index_end
df_end["index_end"] = df_end["index_end"]-1

C:\Users\Emre\Anaconda3\envs\PDS20\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
# merge the two sepearte dataframes to the final dataframe 
# the final dataframe consists of datasets which describe a trip with features for the start and the end of a trip
df_final = pd.merge(df_start,df_end,left_on="index_start", right_on="index_end")

In [12]:
# check if there is a trip with different bike numbers at the start and the end of the trip 
#- if so this wouldn't make sense 
df_final[df_final["b_number_start"] != df_final["b_number_start"]]

Empty DataFrame
Columns: [index_start, datetime_start, b_number_start, latitude_start, p_name_start, longitude_start, index_end, datetime_end, b_number_end, latitude_end, p_name_end, longitude_end]
Index: []

In [13]:
# drop the redundant columns
df_final.drop(["index_start","index_end","b_number_end"],inplace=True,axis=1)
df_final.rename({"b_number_start":"b_number"},inplace=True)

In [14]:
# check for missing values 
df_final.isna().any(axis=0)

datetime_start     False
b_number_start     False
latitude_start     False
p_name_start       False
longitude_start    False
datetime_end       False
latitude_end       False
p_name_end         False
longitude_end      False
dtype: bool

In [15]:
# converting objects to datetimes
df_final["datetime_start"] = pd.to_datetime(df_final["datetime_start"])
df_final["datetime_end"] = pd.to_datetime(df_final["datetime_end"])

# adding the trip duration with the difference of start and end time
df_final["trip_duration"] = df_final["datetime_end"] -df_final["datetime_start"]

#converting timedelta to numeric and format in minutes 
df_final["trip_duration"] = pd.to_numeric(df_final["trip_duration"] / 60000000000)

# adding the distance between start and end position
df_final["distance"] = df_final.apply(
    lambda x: vincenty([x["latitude_start"], x["longitude_start"]],
                       [x["latitude_end"], x["longitude_end"]],),axis=1)

## adding the weekday of the start time of a trip; stored in integers (0: monday, 6:sunday)
df_final['weekday'] = df_final['datetime_start'].dt.dayofweek

In [16]:
# function which returns True for saturday and sunday; otherwise it returns False
def isWeekend(index_of_day): 
    if index_of_day > 4: 
        return True 
    else: 
        return False

# adding new boolean column "weekend"    
df_final["weekend"] = df_final["weekday"].apply(lambda x: isWeekend(x))

In [27]:
# transform column "datatime_start" into several columns 
df_final["day"] = df_final["datetime_start"].apply(lambda x: x.day)
df_final["month"] = df_final["datetime_start"].apply(lambda x: x.month)
df_final["hour"] = df_final["datetime_start"].apply(lambda x: x.hour)

In [18]:
df_final.to_csv('../data/processed/dortmund_trips.csv')
df_final

,datetime_start,b_number_start,latitude_start,p_name_start,longitude_start,datetime_end,latitude_end,p_name_end,longitude_end,trip_duration,distance,weekday,weekend,day,month,hour
0,2019-01-20 16:22:00,50641,51.506312,Hainallee / Südbad,7.470531,2019-01-20 17:00:00,51.493966,TU Dortmund Emil-Figge-Straße 50,7.418008,38,3.897290,6,True,20,1,16
1,2019-01-20 02:31:00,50425,51.517155,Hauptbahnhof/Bahnhofsvorplatz,7.459931,2019-01-20 02:43:00,51.513069,Unionstr.,7.448886,12,0.891383,6,True,20,1,2
2,2019-01-20 11:32:00,53006,51.509557,Ritterhausstr.,7.446949,2019-01-20 13:33:00,51.517155,Hauptbahnhof/Bahnhofsvorplatz,7.459931,121,1.235649,6,True,20,1,11
3,2019-01-20 14:38:00,53006,51.517155,Hauptbahnhof/Bahnhofsvorplatz,7.459931,2019-01-20 14:53:00,51.500725,Polizeipräsidium,7.459819,15,1.827997,6,True,20,1,14
4,2019-01-20 17:02:00,53006,51.500725,Polizeipräsidium,7.459819,2019-01-20 17:16:00,51.514029,Schwanenwall,7.472570,14,1.724677,6,True,20,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207471,2019-12-31 12:39:00,500019,51.500675,Kuithanstr.,7.440834,2019-12-31 12:54:00,51.517155,Hauptbahnhof/Bahnhofsvorplatz,7.459931,15,2.262708,1,False,31,12,12
207472,2019-12-31 19:28:00,500019,51.517155,Hauptbahnhof/Bahnhofsvorplatz,7.459931,2019-12-31 19:35:00,51.513069,Unionstr.,7.448886,7,0.891383,1,False,31,12,19
207473,2019-12-31 12:36:00,51287,51.482359,Barop Parkhaus,7.432326,2019-12-31 15:14:00,51.490505,An der Palmweide,7.438352,158,0.998294,1,False,31,12,12
207474,2019-12-31 22:37:00,500113,51.510976,Stadtgarten,7.464534,2019-12-31 23:05:00,51.486747,Am Beilstück,7.435750,28,3.355884,1,False,31,12,22
207475,2019-12-31 23:38:00,500113,51.486747,Am Beilstück,7.435750,2019-12-31 23:52:00,51.502318,Kreuzstraße,7.450029,14,1.996146,1,False,31,12,23

### Calculating aggregate statistic per month, per day of week and per hour of day

##### Statistic per month

In [19]:
df_final.groupby(['month']).mean()[["trip_duration"]]
# --> no data for July

       trip_duration
month
1          65.135989
2          35.401047
3          41.186327
4          44.510447
5          52.121733
6          42.560769
8          34.758468
9          20.710711
10         18.898973
11         25.229027
12         18.216124

In [20]:
# in this array "July" is missing 
month_by_name = np.array(["January", "February", "March", "April", "May", "June", "August", "September", "October", "November", "December"])

# Means 
df_final.groupby(['month']).mean()[["trip_duration"]].set_index(keys=month_by_name)

           trip_duration
January        65.135989
February       35.401047
March          41.186327
April          44.510447
May            52.121733
June           42.560769
August         34.758468
September      20.710711
October        18.898973
November       25.229027
December       18.216124

In [21]:
# Standard deviation 
df_final.groupby(['month']).std()[["trip_duration"]].set_index(keys=month_by_name)

           trip_duration
January       131.724449
February       94.228610
March          98.509464
April          99.339453
May           110.840998
June           96.293009
August         79.853703
September      53.338906
October        48.727480
November       66.714969
December       47.622371

#### Statistics per day of week

In [22]:
# Means 
weekday_by_name= np.array(["Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
df_final.groupby(['weekday']).mean()[["trip_duration"]].set_index(weekday_by_name)

           trip_duration
Monday         30.053161
Tuesday        36.014902
Wednesday      33.014809
Thursday       31.970065
Friday         33.902980
Saturday       37.342071
Sunday         32.080302

In [23]:
# Standard deviation 
df_final[["weekday", "trip_duration"]].groupby("weekday").std().set_index(weekday_by_name)

           trip_duration
Monday         73.128124
Tuesday        86.036889
Wednesday      81.896887
Thursday       80.431986
Friday         80.763024
Saturday       94.889149
Sunday         90.431240

#### Statistics per hour of day

In [24]:
# Means 
df_final.groupby(['hour']).mean()[["trip_duration"]]

      trip_duration
hour
0         58.854846
1         55.360782
2         33.281008
3         23.742657
4         54.533423
5         65.690177
6         58.079338
7         57.050767
8         45.014704
9         42.288665
10        40.821502
11        31.431312
12        34.403851
13        32.941273
14        31.232775
15        27.476977
16        28.129452
17        23.959343
18        24.519214
19        18.243481
20        15.034937
21        11.541606
22         9.975467
23         6.958899

In [25]:
# Standard deviation 
df_final[["hour", "trip_duration"]].groupby("hour").std()

      trip_duration
hour
0        166.089569
1        145.765061
2        122.470896
3         90.472204
4        148.854879
5        135.961196
6        125.960485
7        118.082078
8         97.729403
9         90.016248
10        88.010430
11        70.646048
12        75.037781
13        69.186813
14        66.147357
15        55.232590
16        55.965338
17        48.600188
18        44.771385
19        33.264152
20        26.455771
21        18.446526
22        11.874983
23         6.262711